/node_modules
/public/js
/public/css
/public/img
/public/hot
/public/fonts
/public/apiDocs
/public/appDocs
/public/storage
/public/images
/public/docs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode/*
/volume
.scribe
.phpdoc
/public/mix-manifest.json
/public/robots.txt